﻿.container {
    margin: auto;
    width: 80%;
    height: 30%;
    max-width: 600px;
    border: 3px solid green;
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
}

h2 {
    margin-top: 20px;
}

form {
    padding-top: 30px;
}

input {
    border: none;
    outline: none;
    background-image: url('../image/btn_login_hover.png');
    background-size: 100% 100%;
    width: calc(303px * 0.5);
    height: calc(88px * 0.5);
}