﻿@section Scripts
{
<link href="@Url.Content("~/css/home.css")" rel="stylesheet" />
<script src="https://kit.fontawesome.com/67d11e29ef.js" crossorigin="anonymous"></script>
}

@{
    ViewData["Title"] = "Home Page";
    string? userName = ViewData["UserName"]?.ToString();
    string? userEmail = ViewData["UserEmail"]?.ToString();
    string? pictureUrl = ViewData["PictureUrl"]?.ToString();
    bool subscribe = (bool)(ViewData["Subscribe"] ?? false);
    int subscribeCount = (int)(ViewData["SubscriberCount"] ?? -999);
}

<div class="text-center">
    <h1 class="display-4">首頁</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                @if (string.IsNullOrEmpty(pictureUrl))
                {
                    <img src="@Url.Content("~/image/user.png")">
                }
                else
                {
                    <img src="@pictureUrl">
                }
            </div>
            <div id="user-info" class="col-12">
                <div class="text-start">名稱: @userName</div>
                <div class="text-start">信箱: @userEmail</div>
                <div class="text-start">
                    訂閱:&nbsp;&nbsp;&nbsp; @if (subscribe)
                    {
                        <i class="fa-solid fa-circle-check"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-circle-xmark"></i>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

