﻿@{
    Layout = null;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="@Url.Content("~/css/singon.css")" rel="stylesheet" />

<div class="container">
    <h2>Line Notify OAuth練習</h2>
    <h3>Signin</h3>
    <div class="col-md-12 text-center">
        <form method="get" asp-controller="Account" asp-action="LineSignon">
            <input type="submit" value=""/>
        </form>
    </div>
</div>