﻿<h1>訊息推播</h1>
<p>發送 Lint Notify 給已訂閱用戶</p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="message"></textarea>
                <label for="message">Comments</label>
            </div>
        </div>
    </div>
    <button id="messageSubmit" type="button" class="btn btn-primary">發送</button>
</div>

@section Scripts
{
<script src="@Url.Content("~/js/send-notify-message.js")"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}